@charset "utf-8";

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #e3d0d8; */
  background-color: #e9ddec;
  scroll-behavior: smooth;
  color: #767ca7;
}

/* Navbar */
.topNav {
  overflow: hidden;
    /* background-color: #c1cde86d; */
  background-color: #f8f8f8;
    /* text-align: center;
    display: flex;
    justify-content: center; */
}

.topNav a{ 
  padding: 15px 15px;
  font-size: 20px;
  text-align: center;
  color: #767ca7;
  text-decoration: none;
  float: right;
} 

.name {
  font-family: 'Sacramento';
  float: left;
  font-size: 30px;
}

.topNav a:hover {
  background-color: #d4c7e7a5;
}

#signature {
  float: left;
  font-family: 'Marck Script';
  font-size: 25px;
  padding: 10px;
  color: #c1cde8;
}

/* Cloud Cover */
.cloud-cover {
  position: relative;
  text-align: center;
}

.cloud-cover img {
  width: 99.3%;
  height: 200px;
  border: 5px solid #f8f8f8;
  border-top: none;
}

header {
  font-size: 80px;
  font-family: 'Marck Script';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* .main-view {
  color:#a297c3;
  font-size: 20px;
  padding: 15px;
}

h1 {
  text-align: center;
  font-size: 6.5rem;
  font-family: 'Leckerli One';
  color: #767ca7;
  text-shadow: 2px 2px 5px #e5cdf3, 2px 2px 5px #c1cde8;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #a297c3;
}

h3 {
    font-size: 45px;
    color: #a297c3;
}

p {
  color: #a297c3;
  font-size: 20px;
  padding: 15px;
}

.page-shortcut {
  color: #70798c;
  background-color: #e7e6f772;
  font-size: 15px;
  border-radius: 10px;
}

#cover {
  border-top: solid 3px #70798c;
  border-bottom: solid 3px #70798c;
  margin: 40px;
  padding: 15px;
}

#index {
  font-size: 10rem;
} */

.btn {
  font-size: 13px;
  margin: 10px;
}

.btn a {
  /* color: #70798c; */
  color: #767ca7;
  text-decoration: none;
  border: 1px solid #827081;
  font-family: inherit;
  background-color: #e7e6f772;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}

/* .resume-divider {
  margin: 10px;
  color: #827081;
  border-bottom: 5px solid #aea3b0;
}

.resume-divider img {
  width: 25%;
  height: 25%;
  float: right;
} */

/* Button */
.button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #c1cde86d;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #c1cde86d 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #c1cde86d;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button:active {
  background: var(--color);
  color: #fff;
}

.button {
  background: linear-gradient(to bottom right, #e9ddec, #c1cde8);
  border: 0;
  border-radius: 17px;
  color: #767ca7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fira Sans',-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 5px;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem #cdcad8, -.125rem -.125rem 1rem #d4c7e7, .125rem .125rem 1rem #a297c3;
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem #cdcad8, -.125rem -.125rem 1rem #d4c7e7, .125rem .125rem 1rem #a297c3;
}

.button a {
  color: #767ca7;
  text-decoration: none;
}